body {
  font-family: "Roboto", sans-serif !important;
}
.top-navbar {
  position: fixed;
  background: #99ced3;
  z-index: 10;
  width: 100%;
}

.top-navbar > .ant-menu {
  background: #99ced3;
  height: 50px;
}

.top-navbar > .ant-menu li {
  color: #5f6366;
  font-weight: bold;
  text-transform: uppercase;
}
.top-navbar > .ant-menu li.ant-menu-item-selected {
  background: #729dbf;
  color: #fff;
}

.body {
  margin-top: 64px;
}

.carousel h2 {
  text-transform: uppercase;
  font-size: 80px;
  color: #fff;
  position: absolute;
  z-index: 9;
  text-align: center;
  margin: auto;
  width: 100%;
  font-weight: bold;
  top: 6em;
}
.carousel .ant-carousel .slick-dots {
  bottom: 3em;
}
.carousel .ant-carousel .slick-dots li button {
  height: 5px;
  width: 30px;
}
.carousel .ant-carousel .slick-dots li.slick-active button {
  width: 40px;
}
.carousel-item img {
  height: 95vh;
  width: 100%;
  object-fit: cover;
}

.functions {
  padding: 2em 0;
}
.functions .ant-card {
  margin-top: 1em;
}
.functions .ant-card img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.functions .ant-card-meta-title {
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: 16px;
}
.contact-form {
  padding: 4em;
}
.contact-form .card {
  padding: 2em 3em;
  margin: auto;
  width: fit-content;
  background: #fff;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.contact-form .form h2 {
  font-family: "Varela Round", sans-serif;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: #5f6366;
  margin-top: 1em;
}

/* News */
.news {
  margin: auto;
  width: fit-content;
}

.news .ant-row > * {
  /* width: 600px; */
}

.news .left {
  height: 300px;
  width: 600px;
  background: red;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
}

.news .right {
  /* width: 100%; */
  width: 600px;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

.news .right .item1 {
  height: 145px;
  background: blue;
}

.news .right .item2 {
  margin-top: 10px;
  height: 145px;
  background: rgb(71, 71, 50);
  width: 295px;
  margin-right: 10px;
}

.news .right .item3 {
  margin-top: 10px;
  height: 145px;
  background: rgb(71, 71, 50);
  width: 295px;
}

.img-container {
  position: relative;
  font-family: Arial;
  -webkit-box-shadow: 0px 1px 2px 0px #282828;
  -moz-box-shadow: 0px 1px 2px 0px #282828;
  box-shadow: 0px 1px 2px 0px #282828;
  -webkit-transition: all 0.3s linear 0s;
}

.img-container:hover {
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 1);
}

.img-container:before {
  bottom: 0;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0.7) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(40%, rgba(0, 0, 0, 0)),
    color-stop(100%, rgba(0, 0, 0, 0.7))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0.7) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0.7) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0.7) 100%
  );
}

.img-container img {
  object-fit: cover;
}

.text-block {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 10;
}

.text-block h4 {
  color: white;
  font-size: 20px;
}

/* Admin */

.admin {
  padding: 24px;
  background: #fff;
  min-height: 90vh;
}

.plus-image-btn {
  width: 50px;
  height: 50px;
  margin-top: 50px;
}

.admin-carousel .carousel-item {
  margin-top: 1em;
}
